.nav-item.dropdown a#navbarScrollingDropdown.dropdown-toggle.nav-link {
  color: #ffc107 !important;
}

a.dropdown-item.active {
  background-color: #dc3545;
}

a.dropdown-item:focus {
  background-color: #dc3545;
}